html, body {
	overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
	color:#374158;
}

h1 {
	font-size: 46px;
	font-weight: 300;
	letter-spacing: 1.31px;
	text-align: center;
	margin: 1.4em 0;
}

h2 {
	font-size: 28px;
	font-weight: 300;
	letter-spacing: 0.8px;
	margin-bottom: 5px;
}

h3 {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.57px;
	text-align: center;

}

p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.8px;
	line-height: 23px;
}

a {
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

ul > li {
	list-style-type: none;
}


/*."container hero" h1, ."container hero" p, ."container hero" a {
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	display: block;

}*/


header {
	min-height: 536px;
	color: #FFFFFF;
	background-image: url("../images/homepage hero.png");
	background-size: 1440px;
	background-repeat: no-repeat;
}

header nav {
	padding: 3em 0;
}
header nav ul {
	display:inline;
	text-align: right;
	float:right;
	margin:0;
}

 header nav ul > li {
	list-style-type: none;
	display: inline-block;
	margin:0 15px;
}

header nav ul > li.btn-outline {
	padding:10px 20px;
	border:1px solid #FFFFFF;
	border-radius: 20px;
}

header nav ul > li.btn-outline:hover {
	background:#FFFFFF;
	color:#34495E;
}

/* header nav ul > li > a {
	color:#FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}*/

header nav ul > li.btn-outline:hover > a {
	color:#34495E;
}

 header .hero {
	text-align: center;
	display:block;
	position: relative;
}

 header .hero h1 {
	color: #FFFFFF;
	font-size:54px;
	font-weight: 300;
	letter-spacing: 1.54px;
	margin:28px 0 0;
}

 header .hero p {
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 0.8px;
	line-height: 23px;
	font-weight: 300;
	margin:30px 0 52px;

}

/* BUTTONS */
.btn {
	background: #F26300;
	border-radius: 100px;
	padding: 15px 35px;
}

/* BENEFITS */
.benefits > .one-half {
	max-width: 360px;
}

/* FEATURES */

.features {
	height: 725px;
	background-image: url("../images/homepage bg2.png");
	background-size: 1440px;
	background-repeat: no-repeat;
}

.features h1, .features h2, .features p {
	color:#FFFFFF;

}

.features h2 {
	font-size: 24px;
}

.features {
	text-align: center;
	display:block;
	position:relative;
}
.features ul {
	margin: 0 auto;
	padding:4em 0;
}
.features ul li {
	list-style-type: none;
	display: inline-block;
}
.features i {
	color:#FFFFFF;
	font-size:48px;
	margin:0;
	vertical-align: middle;

}
/*.features h2 {
	color:#3498DB;
}*/

/* TESTIMONIALS */

.testimonials {
	padding:4em 0;
	text-align: center;
}
.testimonials h2 {
	color:#3498DB;
}
.testimonials ul li {
	list-style-type: none;
}
.testimonials blockquote {
	color:#FFFFFF;
	text-align: left;
	/*font-style: italic;*/
	background:#ABB7CE;
	position: relative;
	padding:30px;
	width:auto;
	margin:0;

	font-family: OpenSans-Light;
	font-size: 16px;
	color: #364158;
	letter-spacing: 0.8px;
	line-height: 23px;
	padding: 40px 25px;

	border-radius: 4px;
}

.testimonials blockquote:after {
	top: 100%;
	left: 13%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #ABB7CE;
	border-width: 10px;
	margin-left: -10px;
}

.testimonials img {
	text-align: left;
	margin-top: 25px;
	float: left;
		display: inline-block;
		margin: 25px 10px 0 0;
}

.testimonials p.name {
	float: left;
	display: inline-block;
	text-align: left;
	margin-top: 25px;
}

/* PRICING */
.pricing {
	background-color: #374158;
}

.pricing h1, .pricing h2, .pricing h3 {
	color: #FFFFFF;
}


.box {
	padding:0 15px 15px;
	background: #FFFFFF;
	min-height: 390px;
	position: relative;
	margin-top: 25px;
}
.box.middle {
	min-height: 450px;
	margin-top:0px;
	background: #FFFFFF;
}

.box.middle h3 {
	background: #F26300;
	padding: 15px 0;
	letter-spacing: .08em;
}

.box h3 {
	text-transform: uppercase;
	background: #ABB7CE;
	left:0;
	right:0;
	top:0;
	text-align: center;
	margin:0 -15px 40px;
	padding: 15px 0;
	letter-spacing: .08em;
}

.box h4 {
	font-size: 46px;
	font-weight: 100;
	color: #364158;
	letter-spacing: 1.31px;
	margin:40px 0 25px;
	text-align: center;
}
.box h4 span {
	font-size:32px;
	vertical-align: top;
}
.box h4 span.month {
	color:#888888;
	font-size:16px;
	vertical-align: middle;
}
.box ul li {
	font-size:18px;
	margin-bottom:20px;
	font-weight: 100;
}

.box .btn {
	position:absolute;
	bottom:25px;
	left:25px;
	right:25px;
	background: #ABB7CE;
}

.box.middle .btn {
	position:absolute;
	bottom:25px;
	left:25px;
	right:25px;
	background: #F26300;
}

.small {
	font-size: 12px;
	color: #FEFEFE;
	line-height: 15px;
	font-style:italic;
	text-align: center;
	margin-bottom: 40px;
}

/* FOOTER */
.middle-footer-block a {
	color:#374158;
	font-weight: 300;
	font-size: 16;
	text-transform: none;
}

.footer-nav-block {
	font-family: OpenSans-Light;
	font-size: 16px;
	color: #374158;
	letter-spacing: 0.8px;
	line-height: 23px;
	margin: 1em 0;
}

footer {
	background-color: #FFFFFF;
	color: #FFFFFF;
	height: 150px;
	position: relative;
	overflow: hidden;
	z-index: 0;
	
}
footer p, footer nav ul {
	font-size:14px;
	font-weight:100;
	text-align: center;
	margin: 10px auto 0;
	font-size: 13px;
	letter-spacing: 0.8px;
}
footer nav ul li {
	list-style-type: none;
	display: inline;

}
footer nav ul li a {
	color:#FFFFFF;
	text-decoration: none;
	font-size: 13px !important;
	letter-spacing: 0.8px;
}
footer .right-footer-block {
		background-color: transparent;
}
footer .logo{
	padding: .5em 0;
	margin: 0 auto;
	display: block;
	width: 40%;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.container:before, 
.container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.one-half, .one-third, .one-fourth {
	width: 96%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}

/* DASHBOARD */
.dashboard {
	background:#F4F4F4;
}
.left-nav {
	height: 100vh;
	width:260px;
	color:#FFFFFF;
	background: #4F5A73;
	float:left;
	position: fixed;
	display:block;
}
.left-nav .site-logo {
	padding:30px 10%;
/*	 background:#34495E*/;
	display:block;
	text-align: left;
}

.left-nav .items p  {
	padding:0 10%;
}
/* .left-nav .items p {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
	color: #E2E2E2;
	line-height: 15px;
}*/

.left-nav .items p {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.8px;
	line-height: 23px;
	margin: 0 0 10px 0;
}

.left-nav .items ul {
	margin:0 0 40px;
	padding:0;
}

.left-nav .items ul li {
	list-style-type: none;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.8px;
	line-height: 40px;
	padding: 0 10%;
}

.left-nav .items ul li a {
	color:#FFFFFF;
	text-decoration: none;
	font-weight: 100;
	text-transform: none;
}

.left-nav .items ul li.active {
	background: #444E67;
}

.left-nav .items ul li a i {
	width:16px;
	text-align: center;
	margin-right:8px;
}

/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
	position:absolute;
	background:#444E67;
	width:100%;
	bottom:0;
	left:0;
	right:0;
	padding:12px 0;
}

.left-nav .settings img {
	height:46px;
	width:46px;
	margin-left:10px;
	display: inline-block;
}

.left-nav .settings p {
	color: #FFFFFF;
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
	font-weight: 300;
	margin:0 0 0 10px;
	font-size: 16px;
	letter-spacing: 0.8px;
	line-height: 23px;
}

.left-nav .settings a {
	color:#FFFFFF;
	text-decoration: none;
	text-align: right;
	float: right;
	margin-right:20px;
	margin-top:16px;
}

/* CONTENT */
.content {
	padding:4em 1% 1.5em;
	float:right;
	width:80%;
	position: relative;
}

.content .header {
	margin:0 1% 20px;
}

.content .header h1 {
	font-family: OpenSans-Light;
	font-weight: 100;
	font-size: 46px;
	color: #6D6D6D;
	letter-spacing: 1.31px;
	margin:0 0 30px 10px;
	line-height: 44px;
	float: left;
	display:inline-block;
}

.content .header > a {
 	float:right;
}

.content-item {
		width:96%;
		margin:0 2% 25px;
		/*float:left;*/
	display:inline;
}

.item-box {
	display: inline-block;
	/*height:230px;*/
	background: #FFFFFF;
	border-radius: 4px;
	/*box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);*/
	position: relative;
	overflow: hidden;
	padding:20px;
}

.item-box p, .item-box a {
	color: #FFFFFF;
}

.item-box a {
	font-weight: 300;
	text-decoration: none;
	font-size: 28px;
	letter-spacing: 0.8px;
	line-height: 32px;
	text-transform: none;
}

.item-box.note {
	background: #96A4BE;
	width: 206px;
	height: 206px;
}

.item-box.image {
	padding: 0;
	background: none;
}

.item-box.link {
	width: 206px;
	height: 206px;
}

.item-box.link a{
	font-family: OpenSans-Light;
	font-size: 20px;
	color: #374158;
	letter-spacing: 0.57px;
}

.item-box.link p{
	font-family: OpenSans-Light;
	font-size: 12px;
	color: #374158;
	letter-spacing: 0.6px;
	line-height: 18px;
}

.first-half {
	width: 50%;
	float: left;
}

.second-half {
	width: 50%;
	float: left;
}

@media (min-width: 768px) {
	.container {
	 	width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
	 	width: 970px;
	}
	.one-half {
	 	width:46%;
	}
	.one-third {
	 	width:29.33333%;
	}
	.one-fourth {
	 	width:21%;
	}
	footer .container {
		width: 100%;
	}
	footer{
		height: 100px;
	}
	footer p, footer nav ul{
		/*padding: 2em 0;*/
		text-align: left;
	}
	footer .logo{
		/*padding: 2em 0 2em 1.5em;*/
	}
}

@media (min-width: 1200px) {
	.container {
	 	width: 1170px;
	}
	footer .container {
		width: 100%;
	}
}

